:root {
    --primary: #ddd;
    --hover: #555555;
}

.br-popup-container {
    position: absolute;
    background-color: rgba(0, 154, 218, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 100%;
    z-index: 2000;
    opacity: 0;
}

.fade-in {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

.fade-out {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

.br-popup-modal-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    padding: 10rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
}

#br-popup-modal-content > iframe,img {
    max-width: 600px;
}

.br-popup-cerrar {
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 5000;
}

.br-cerrar {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.br-cerrar span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    top: 50%;
    left: 0;
    transform-origin: center;
    border-radius: 6px;
    transition: all .2s;
}

.br-cerrar:hover span {
    background-color: var(--hover);
}

.br-cerrar span:first-child {
    transform: rotate(45deg);
}
.br-cerrar span:last-child {
    transform: rotate(-45deg);
}

.br-popup-prev, .br-popup-next {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.br-popup-prev {
    margin-right: 1rem;
} 

.br-popup-next {
    margin-left: 1rem;
}

.br-popup-prev span, .br-popup-next span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    top: 50%;
    left: 0;
    border-radius: 6px;
    transition: all .2s;
}

.br-popup-prev span {
    transform-origin: left center;
} 
.br-popup-next span {
    transform-origin: right center;
}

.br-popup-prev:hover, .br-popup-next:hover {
    animation-name: selected;
    animation-duration: .2s;
}
.br-popup-prev:hover span, .br-popup-next:hover span {
    background-color: var(--hover);
}

.br-popup-prev span:first-child {
    transform: rotate(60deg) translateY(-2px);
}
.br-popup-prev span:last-child {
    transform: rotate(-60deg) translateY(2px);
}

.br-popup-next span:first-child {
    transform: rotate(60deg) translateY(2px);
}
.br-popup-next span:last-child {
    transform: rotate(-60deg) translateY(-2px);
}




@media(max-width: 700px) {

    .br-popup-modal-container {
        flex-wrap: wrap;
    }

    #br-popup-modal-content {
        order: 1;
    }

    .br-popup-prev {
        margin-right: 3rem;
        order: 2;
    } 
    
    .br-popup-next {
        margin-left: 3rem;
        order: 3;
    }


    #br-popup-modal-content > iframe,img {
        max-width: 100%;
    }
}

@media(max-width: 500px) {

    .br-popup-modal{
        row-gap: 16px;
    }
    .br-popup-modal > img {
        max-height: auto;
        max-width: 100%;
    }

    .br-popup-button {
        place-content: center;
    }

  

    .br-popup-modal > img {
        max-height: none;
        max-width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes selected {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}
